/* Estilos globales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #ff6f61; /* Color principal */
  color: #fff;
  padding: 10px 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.header nav ul li {
  margin-left: 20px;
}

.header nav ul li a {
  color: #fff;
  font-weight: bold;
}

.header nav ul li a:hover {
  color: #ffe0e0;
}

.main-content {
  padding: 20px;
}

.container {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-page .filter-bar {
  margin-bottom: 20px;
}

.product-list {
  margin-top: 20px;
}

.filter-bar select {
  margin-right: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left, .footer-middle {
  flex: 1;
}

.footer-middle ul {
  list-style: none;
  padding: 0;
}

.footer-middle ul li {
  margin: 5px 0;
}

.footer-middle ul li a {
  color: #ddd;
}

.footer-middle ul li a:hover {
  color: #fff;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 0.8em;
}

.register, .login, .checkout {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register form, .login form, .checkout form {
  display: flex;
  flex-direction: column;
}

.register input, .login input, .checkout input, .register button, .login button, .checkout button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.register button, .login button, .checkout button {
  background-color: #ff6f61; /* Color principal */
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.register button:hover, .login button:hover, .checkout button:hover {
  background-color: #e65c50;
}

input::placeholder {
  color: #aaa;
}
